form {
    display:flex;
    flex-direction: column;
    line-height: 2rem;
    width: 80%;
    border: 1px solid red;
    align-items: center;
}


.picture {
    display: flex;
    background-image: url('./Pizza.jpg');
    background-size: cover;
    width:100%;
    height:30vh;
}

.checkboxes{
    display:flex;
    flex-flow:row wrap;
}

.checkboxes h4{
    width:100%;
}
.checkboxes p{
    width:100%;
}

.checkboxes label{
    width:50%;
}

p{
    margin:0%;
    font-size: .8rem;
    padding:0%;
}


.instructions{
    width:40%;
    display:flex;
}

h4{
    margin:0%;
}