form {
    display:flex;
    flex-direction: column;
    line-height: 2rem;
    width: 80%;
    border: 1px solid red;
    align-items: center;
    padding: 1% 1% 5% 1%;
}


.picture {
    display: flex;
    background-image: url('./Pizza.jpg');
    background-size: cover;
    width:100%;
    height:30vh;
}

.checkboxes{
    display:flex;
    flex-flow:row wrap;
    width:40%;
}

.checkboxes h4{
    width:100%;
}
.checkboxes p{
    width:100%;
}

.checkboxes label{
    width:50%;
}

p{
    margin:0%;
    font-size: .8rem;
    padding:0%;
}


.instructions{
    width:30%;
    display:flex;
    margin: 0% 0% 2% 0%;
}

h4{
    margin:0%;
}

#submitBtn{
    padding:1%;
    border-radius: 10%;
    color:black;
}